doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author' content='Christian Hamburger Grøngaard')
    meta(name='description' content='JavaScript developer')
    meta(name='robots' content='index, follow')
    title brummefar.dk
  body
    h1 brummefar.dk