@import '~modularscale-sass/stylesheets/modular-scale';

@import url('https://fonts.googleapis.com/css?family=Lora|Source+Sans+Pro:400,400i,700,700i');

@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Regular.woff2') format('woff2'),
       url('./fonts/FiraCode-Regular.woff') format('woff');
}

$ms-base: 18px;
$ms-ratio: 1.618;

$color-primary: #000; //#1B2550;
$color-text: rgb(20, 20, 20); //#0D2624;
$color-background: rgb(250, 250, 250);

$font-family-primary: 'Source Sans Pro', sans-serif;
$font-family-secondary: 'Lora', serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-family: $font-family-primary;
  font-size: ms(0);
  padding-left: ms(2);
  padding-right: ms(2);
}

root {
  display: block;
  max-width: ms(7);
  margin-left: auto;
  margin-right: auto;
  padding-top: ms(2);
}

nav {
  font-family: $font-family-secondary;
  margin-bottom: ms(1);
}

footer {
  font-size: ms(-1);
  text-align: right;
}

li {
  nav & {
    position: relative;

    &:before {
      content: '☞';
      font-size: 1.4em;
      position: absolute;
      margin-left: -1.25em;
      top: -0.05em;
    }
  }
}

h1,
h2 {
  color: $color-primary;
  font-family: $font-family-secondary;
}

h1 {
  header & {
    font-size: ms(1);
    margin-bottom: ms(1);
  }

  main & {
    font-size: ms(2);
    margin-bottom: ms(1);
    margin-top: ms(2);
  }
}

h2 {
  font-size: ms(1);
  margin-bottom: ms(-1);
  margin-top: ms(2);
}

p {
  line-height: ms(1);
  margin-bottom: ms(1);

  blockquote &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
}

blockquote {
  border-color: $color-primary;
  border-left-width: ms(-3);
  border-style: solid;
  font-style: italic;
  padding-left: ms(-1);
  margin-bottom: ms(1);
}

a {
  color: $color-text;
  position: relative;
  text-decoration: none;

  &:after {
    background-color: #94C757;
    content: '';
    display: block;
    height: 0.2em;
    left: 0;
    position: absolute;
    top: 1.1em;
    width: 100%;
    z-index: -1;
  }
}

strong {
  font-weight: bold;
}

pre {
  color: $color-text !important;
  margin-bottom: ms(1);
  padding-bottom: ms(-1) !important;
  padding-left: ms(-1) !important;
  padding-right: ms(-1) !important;
  padding-top: ms(-1) !important;
}

code,
pre {
  background-color: rgb(245, 245, 245) !important;
  font-family: 'FiraCode', monospace;
  letter-spacing: 0.05em;
}

code {
  padding-left: 0.15em;
  padding-right: 0.15em;
}
