@import '~modularscale-sass/stylesheets/modularscale';
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Source+Sans+Pro:400,400i,600,600i');

@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Regular.woff2') format('woff2'),
       url('./fonts/FiraCode-Regular.woff') format('woff');
}

$modularscale: (
  base: 18px,
  ratio: $phi
);

$color-black: rgb(50, 50, 50);
$color-grey: rgb(245, 245, 245);
$color-highlight: #94C757;
$color-white: rgb(250, 250, 250);

$font-family-code: 'FiraCode', monospace;
$font-family-primary: 'Source Sans Pro', sans-serif;
$font-family-secondary: 'Lora', serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: $font-family-primary;
  font-size: ms(0);
  padding-left: ms(2);
  padding-right: ms(2);
}

root {
  display: block;
  max-width: ms(7);
  margin-left: auto;
  margin-right: auto;
  padding-top: ms(2);
}

nav {
  font-family: $font-family-secondary;
  margin-bottom: ms(1);
}

footer {
  font-size: ms(-1);
  text-align: right;
}

ul {
  main & {
    line-height: ms(1);
    margin-bottom: ms(1);

    li {
      position: relative;
      padding-left: 1.5em;

      &:before {
        content: '_';
        font-size: 1.4em;
        position: absolute;
        margin-left: -1em;
        top: -0.35em;
      }
    }
  }
}

li {
  nav & {
    margin-bottom: ms(0);
    position: relative;

    &:before {
      content: '☞';
      font-size: 1.4em;
      position: absolute;
      margin-left: -1.25em;
      top: -0.05em;
    }
  }
}

h1,
h2,
h3 {
  font-family: $font-family-secondary;
}

h1 {
  header & {
    font-size: ms(1);
    margin-bottom: ms(1);
  }

  main & {
    font-size: ms(2);
    margin-bottom: ms(0);
    margin-top: ms(2);
  }
}

h2 {
  font-size: ms(1);
  margin-bottom: ms(-1);
  margin-top: ms(2);
}

h3 {
  font-style: italic;
  line-height: ms(1);
  margin-bottom: ms(-1);
}

p {
  line-height: ms(1);
  margin-bottom: ms(1);

  blockquote &:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  margin-bottom: ms(1);
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

blockquote {
  border-color: $color-black;
  border-left-width: ms(-3);
  border-style: solid;
  font-style: italic;
  padding-left: ms(-1);
  margin-bottom: ms(1);
}

a {
  background-image: linear-gradient(to bottom, $color-highlight, $color-highlight);
  background-repeat: repeat-x;
  background-size: auto 0.15em;
  background-position: 0 1.1em;
  color: $color-black;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

pre {
  background-color: $color-grey !important;
  color: $color-black !important;
  line-height: ms(1);
  margin-bottom: ms(1);
  padding-bottom: ms(-1) !important;
  padding-left: ms(-1) !important;
  padding-right: ms(-1) !important;
  padding-top: ms(-1) !important;
}

@media (min-width: ms(8)) {
  pre {
    margin-left: -(ms(3));
    margin-right: -(ms(3));
  }
}

code,
pre {
  font-family: $font-family-code;
  font-size: 0.9em;
}

code {
  background-color: none !important;
}
