doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author' content='Christian \'Brummefar\' Grøngaard')
    meta(name='description' content='JavaScript developer')
    meta(name='robots' content='index, follow')
    title Christian 'Brummefar' Grøngaard
  body
    root
      header(role='header')
        h1
          a(href='/' data-navigo) brummefar.dk
        nav(role='navigation')
          ul
            li
              a(href='choosing-redux' data-navigo) Choosing Redux
      main(role='main')
      footer(role='contentinfo')
        p &copy; 2017 ~ Christian 'Brummefar' Grøngaard
          br
          a(href='https://github.com/christianhg') github/#[strong christianhg]
          br
          a(href='https://twitter.com/christianhg') twitter/#[strong christianhg]
